<div class="column-container">
  <div class="content-container">
    <div style="margin-bottom: 100px">
      <h1>Welcome to FusionAuth Todo</h1>
      <p>
        To get started,
        <button
          mat-flat-button
          color="primary"
          (click)="login()"
          style="cursor: pointer"
        >
          log in
        </button>
        or
        <button
          mat-flat-button
          color="primary"
          (click)="register()"
          style="cursor: pointer"
        >
          create a new account.
        </button>
      </p>
    </div>
  </div>
</div>
