<div id="page-container">
  <mat-toolbar color="primary" class="top-toolbar">
    <mat-toolbar-row>
      <span>FusionAuth Todo</span>
      <span class="spacer"></span>
      <div id="logo-header">
        @if (isLoggedIn) {
          <div
            class="h-row"
            style="
              display: flex;
              gap: 1rem;
              justify-content: center;
              align-content: center;
            "
          >
            <p style="display: flex; align-items: center; margin: 0">
              @if (isGettingUserInfo) {
                {{ "Loading..." }}
              } @else {
                {{ userInfo?.email }}
              }
            </p>
            <a
              mat-raised-button
              color="primary"
              (click)="logout()"
              style="cursor: pointer"
            >
              Logout
            </a>
          </div>
        } @else {
          <a
            mat-flat-button
            color="primary"
            (click)="login()"
            style="cursor: pointer"
          >
            Login
          </a>
        }
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="display: flex; justify-content: center; padding: 2rem">
    <router-outlet></router-outlet>
  </div>
</div>
